<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale= 1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_.css')}}">
    <title>Registration.Form.</title>

    <a href="{{ url_for('signup') }}">Sign Up</a>

</head>

<body>

<div class="container">
<div class="form-box">
<h1>Fill up</h1>
<p class="subtitle">Can you fillup in your information</p>

    <form action="success.html" method="get">  <!-- or method="post" for sensitive data -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name">

<div class="form-group">
    <label> Bike Brand </label>
    <input type="text" name="Bike Brand" required>


<div class="form-group">
    <label> Bike Model </label>
    <input type="text" name="Bike Model" required>
</div>

<div class="form-group">
    <label> Username </label>
    <input type="text" name="Username" required>

</div>

<div class="form-group">
    <label> Email </label>
    <input type="text" name="email" required>
</div>

<div class="form-group">
    <label> Password</label>
    <input type="text" name="password" required>
</div>

<div class="form-group">
    <label> Confirm Password</label>
    <input type="text" name="confirm_password" required>
</div>

<button type="submit">Submit</button>

</div>

</form>

</div>

</div>

</body>

</html>
