* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', Tahoma, Geneva, Verdana, sans-serif;
    background: linear(111deg, #120eea 0%, #750ba2 50%);
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('Trinx,ninja400.jpeg.jfif') no-repeat;
    background-size: cover;
    background-position: center;

}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.10000000px;
    background-filter: blur (10px);
}

.form-box {
    background: #ffffff;
    padding: 25px;
    border-radius: 100px;
    box-shadow: 0 10px 32px rgba(0, 2, 0, 0.2);
    width: 25%
    max-width: 200px;
}

.subtitle {
    text-align: center;
    color: #100;
    margin-bottom: 14px;
    font-size: 16px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #222;
    font-weight: 321;
    font-size: 15px;
}

input {
    width: 100%;
    padding: 12px 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    font-size: 12px;
    transition: all 0.2s ease;
}
    .btn-submit {
    width: 100%;
    padding: 10px;
    background: linear-gradient(125deg, #128eea 0%, #175ba2 75%);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 555;
    cursor:pointer;
    transition: transform 0.2s ease;
    margin-top: 14px;
}

.btn-submit:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
    background-filter: blur (75px);
}